<IfModule mod_rewrite.c>
    RewriteEngine On
        RewriteBase /JOBS/_MY_COMP/toysaurus/toysaurus2025/

    # Ensure requests to non-existent files are routed to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>

